@charset "utf-8";

#home {
   display: inline-block;
  height: 100vh;
  font-size: 3vw;
  font-weight: bolder;
}

#crafts {
 overflow: scroll;
  display: inline-block;
  height: 100vh;
}

#cooking {
  display: inline-block;
  height: 100vh;
}

#profile {
  display: inline-block;
  height: 100vh;
    font-size: 2vw;
  font-weight: bolder;
}
