@charset "utf-8";
#profile{
  background-color:#8a2be2;
  color: white;
}
#contents1{
background-color: #0000ff;
}
#contents2{
background-color: #008000;
}
#contents3{
background-color: #ffff00;
}

