body{
  display: block;
  width: 94%;
  height: 100%;
  text-align: center;
}
.top{
  width: 96%;
  height: 25%;
}
.textarea{
  display: block;
  width: 96%;
  background-color: blue;
  color: white;
  margin: 1px,1px;
  text-align: center;
}
.menu{
  display: block;
  border: 2px;
  border-color: rebeccapurple;
  width: 80%;
  float: right;
  background-color: blue;
}
h1{
  color: whitesmoke;
  float: right;
}
.kamon{
  float: left;
}