body{
  display: block;
  width: 90%;
}
header{
  background-color:black
  height: 25%;
}
.textarea{
  width: 95%;
  background-color: blue;
  color: white;
}
.menu{
  display: block;
  border: 2px;
  border-color: rebeccapurple;
  width: 80%;
  float: right;
  background-color: blue;
}
h1{
  color: whitesmoke;
}